<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="yang.hong3.com.mymessage">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/myicon512"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".module.guide.view.GuideActivity">
        </activity>
        <activity
            android:name=".customview.banner.WebViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".module.playvideo.view.PlayLiveVideoActivity">
        </activity>

        <service android:name=".module.playmusic.MusicPlayService"/>

        <activity android:name=".module.playmusic.MusicPlayingActivity">
        </activity>

        <!-- Amap  高德 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="a957dfc086fd9a0882cd284939e72744"/>

        <activity android:name=".module.amap.BaseMapActivity">
        </activity>
    </application>

</manifest>